.fa-earlybirds {
    color: hsl(141, 71%, 48%);
    margin-right: 10px;
}
h1.title {
    text-align: center;
    margin: 80px 0 0 !important;
    font-size: 3em;
}
.App {
    padding: 0 5%;
}
.header-content {
    margin: 0 0 50px;
}
p {
    text-align: center;
    color: white;
}
body {
    padding: 1px 0 0;
    background: url('bg.jpg');
    background-size: cover;
}
form {
    width: 50%;
    margin: 0 auto;
    display:  flex;
    flex-flow: column;
}
form input {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 1.5em;
    font-family: open sans;
}
form button {
    width: 200px;
    margin: 20px auto;
}

